.questionOuter {
    width: 100%;
    min-height: 60px;
    display: grid;
    grid-template-rows: 75px 0px;
    align-items: center;
    overflow: hidden;
}

.open {
    height: auto;
    grid-template-rows: 75px 0.5fr;
}

.closed {
    height: 75px;
}

.title {
    display: flex;
    align-items: center;
    width: 100%;
}

.question {
    display: flex;
    justify-content: flex-start;
    width: 90%;
}

.icon {
    display: flex;
    justify-content: flex-end;
    width: 10%;
}

.description {
    align-self:self-start;
}