.questionOuter {
    width: 100%;
    overflow: hidden;
}

.title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
}

.title h4 {
    margin: 0;
    font-weight: 600;
}

.title:hover h4 {
    color: hsl(292, 75%, 49%);
}

.question { 
    display: flex;
    justify-content: flex-start;
    width: 90%;
}

.icon {
    display: flex;
    justify-content: flex-end;
    width: 10%;
}

.description {
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.5s;
}

.description > div {
    overflow: hidden;
}

.description p {
    font-weight: 400;
    margin: 0;
    color: hsl(292, 16%, 49%);
}

.open {
    grid-template-rows: 1fr;
    padding-bottom: 20px;
}