.outer {
    height: 100vh;
    margin-top: -60px /* accounts for header margin */
}

.welcomingContainer {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./assets/background-img.png);
    display: grid;
    grid-template-rows: 20fr 1fr;
    align-content: center;
}

.welcomeOuterSub {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.arrowContainer {
    display: flex;
    justify-content: center;
}

.welcomeSubContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcomeTitle {
    font-size: 64px;
    margin: 0;
    color: var(--primary-color);
}

.welcomeSubTitle {
    font-size: 48px;
    margin: 0;
    color: var(--accent-color);
}

.welcomeIntro {
    width: 100%;
}

.welcomeIntro p {
    color: var(--primary-color);
    font-size: large;
}

.iconTray {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    height: 60px;
}

.iconTray > a img {
    height: 50px;
}

.iconTray > a img:hover {
    height: 60px;
}