.button {
  cursor: pointer;
}

.commentAndNewReply {
  display: grid;
  grid-template-rows: 1fr 0fr;
  gap: 5px;
  transition: grid-template-rows 0.3s;
}

.commentAndNewReplyShow {
  grid-template-rows: 1fr 1fr;
}

.commentBase {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  width: inherit;
  height: auto;
  padding: 15px;
}

/* Regular Comment Styling */
.regularComment {
  display: grid;
  grid-template-columns: 1fr 10fr;
  gap: 20px;
}

/* Displays likes and controls */
.likeCountOuter {
  display: flex;
  justify-content: center;
}

.likeCounter {
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 2fr 1fr;
  height: 90px;
  padding: 10px 5px;
  min-width: 30px;
  background-color: aliceblue;
  border-radius: 10px;
}

.likeCounterItem {
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(238, 40%, 52%);
}

.likeCounterItem p {
  color: hsl(238, 40%, 52%);
  font-weight: 600;
}

/* The Right side of the comment (header + main content) */

.mainContentOuter {
  display: grid;
  grid-template-rows: 40px 1fr;
  gap: 10px;
}

/* Header (avatar, username, created date, reply button) */
.commentHeader {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.commentHeader h4 {
  font-size: 18px;
  padding: 0px;
  margin: 0;
}

.commentHeader p {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.avatar {
  max-height: 40px;
}

.replyButton {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  color: hsl(238, 40%, 52%);
}

.replyButton p {
  color: hsl(238, 40%, 52%);
  font-weight: 600;
}

/* Main comment content */
.commentContent p {
  color: grey;
  padding: 0;
  margin: 0;
}

/* Contains the replies */
.replySection {
  display: grid;
  grid-template-columns: 1fr 8fr;
  align-items: flex-end;
  justify-items: center;
  padding: 10px 0px;
}

.verticalLine {
  height: 100%;
  background-color: hsl(223, 19%, 93%);
  width: 2px;
}

/* The actual replies  */
.repliesContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

/* Leaving a new reply */
.newComment {
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  gap: 15px;
}

.newCommentInput {
  box-sizing: border-box;
    border-radius: 5px;
    border: thin solid black;
    padding: 10px 20px;
    resize: none;
    height: 100%;
    width: 100%
}

.interactiveButton {
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: hsl(238, 40%, 52%);
    color: white;
    cursor: pointer;
}   

.interactiveButton:hover {
    background-color: hsl(239, 57%, 85%);
}

.interactiveButton p {
    font-weight: 600;
}

.commentEdit {
  display: grid;
  grid-template-columns: 1fr 10fr;
  gap: 20px;
}

.updateCommentContent {
  display: grid;
  grid-template-rows: 2fr 1fr;
  height: 100%;
  gap: 10px
}

.deleteAndEditContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
}

.iconAndWordContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.purpleWord {
  margin: 0;
  color:hsl(238, 40%, 52%)
}

.redWord {
  margin: 0;
  color: red
}